/* import devault setting */
@import "_plugins/variabel";

*{
  margin:0;
  padding: 0;
}
html , body {
  font-family: sans-serif;
  font-weight: 350;

}
.parent-header{
  background: #333;
  width: 100%;
  padding: 20px 0;
  display: block;
  ul{
      width: 100%;
      display: flex;
      position: relative;
      justify-content:center;
  li{
    float: left;
    list-style: none;
    padding: 5px 10px;
    a{
      text-decoration: none;
      color: #fff;
      padding: 5px 10px;
      font-size: 16px;
    }
  }} 
}