/* setting thme color */
$theme-colors: (
 "primary": #000000,
  "secondary": #F28204,
  "grey" : #888888,
  "semi-grey":#999999,
  "min-grey" : #AAAAAA,
  "white-grey":#EEEEEE,
  "danger":#FE0000,
  "med-grey" :#333333,
  "white" : #ffffff,
  "none": rgba(0,0,0,0.0),
  "transparent" : transparent,
  "yellow" : #F2EC29,
);

$grey : #EFEFEF;
$semi-grey : #AFB7BE;
$med-grey :#888888;

/* import bootstrap */

@import "~bootstrap/scss/bootstrap";

/*import mixin */
@import 'mixin';

/*import line awesome /font awesome */
.title
{
	font-weight: 900;
	font-size: 28px;
}
img.logo{
  max-width: 200px;
}
//setting default font family
html , body{
   font-family: Montserrat;
}